* {box-sizing: border-box;}

/******** Main Section ********/
main {
    max-width: 850px;
    margin: 0 auto;
    flex: 1;
}

/* Endpoints table - documentation */
.endpoints-table {
    text-align: left;
    width: 100%;
    border-style:solid;
    border-color: #2C6E49;
    margin: 20px auto;
    table-layout: auto;
    counter-reset: tr -1;
}

.endpoints-table tr {counter-increment: tr;}

.endpoints-table tr td:first-child::before {content: counter(tr) ". ";}

.endpoints-table th {
    padding: 5px;
    background-color: #70A788;
}

.endpoints-table td {
    padding: 5px;
    vertical-align: top;
}

.endpoints-table tr:nth-child(odd) {background-color: #f2f2f2;}

.endpoints-table tr:hover {background-color: #D6EEEE;}

pre {white-space: pre-line;}
/* End Endpoints table - documentation */